<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="numeric">
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WeatherLocation" title="@Strings.LocationTitle">
        <settingConfig type="alphaNumeric">
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WeatherUpdatePeriod" title="@Strings.WeatherUpdateTitle">
        <settingConfig type="numeric">
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Units" title="@Strings.MeasurementUnits">
    	<settingConfig type="list">
    		<listEntry value="0">@Strings.Metric</listEntry>
    		<listEntry value="1">@Strings.Imperial</listEntry>
    </settingConfig></setting>
</settings>
