<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="numeric">
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WeatherLocation" title="@Strings.LocationTitle">
        <settingConfig type="alphaNumeric">
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WeatherUpdatePeriod" title="@Strings.WeatherUpdateTitle">
        <settingConfig type="numeric">
        </settingConfig>
    </setting>

</settings>
