<settings>
    
    <setting propertyKey="@Properties.WeatherLocation" title="@Strings.LocationTitle">
        <settingConfig type="alphaNumeric">
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WeatherStyle" title="@Strings.DisplayWeatherTitle">
        <settingConfig type="list" >
          <listEntry value="0">@Strings.Disabled</listEntry>
          <listEntry value="1">@Strings.ConditionsOnly</listEntry>
          <listEntry value="2">@Strings.ConditionsAndTemperature</listEntry>
          <listEntry value="4">@Strings.ConditionsTemperatureAndWind</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WindSpeedUnits" title="@Strings.DisplayWindUnits">
        <settingConfig type="list" >
          <listEntry value="0">@Strings.MetersPerSecond</listEntry>
          <listEntry value="1">@Strings.KilometersPerHour</listEntry>
          <listEntry value="2">@Strings.MilesPerHour</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.UsePosition" title="@Strings.UsePositionTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.WeatherUpdatePeriod" title="@Strings.WeatherUpdateTitle">
        <settingConfig type="numeric">
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.HRStyle" title="@Strings.DisplayHRTitle">
        <settingConfig type="list" >
          <listEntry value="0">@Strings.Disabled</listEntry>
          <listEntry value="1">@Strings.HRLast</listEntry>
          <listEntry value="2">@Strings.HRHistoryDuration</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.HRPeriod" title="@Strings.DisplayHRDuration">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.BatteryLevelStyle" title="@Strings.DisplayBatteryTitle">
        <settingConfig type="list" >
          <listEntry value="0">@Strings.Disabled</listEntry>
          <listEntry value="1">@Strings.Low</listEntry>
          <listEntry value="2">@Strings.Always</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.DisplaySeconds" title="@Strings.DisplaySecondsTitle">
        <settingConfig type="boolean" />
    </setting>
    
</settings>
